*{
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

}
body {
    background:linear-gradient(90deg,#ffff,#7777)

    
    
}
h1{
    text-align: center;
    padding: 0.2rem;
}
hr{

display: block;
clear: both;
font-family: arial;
text-align: center;
font-size: 30px;
line-height: 1;
}
hr:after {
content:"\273D \273D \273D";
height: 0;          
letter-spacing: 1em;
color: #aaa;
color: #000000;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
main section .ali{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    
}

main section .ali-2{
    display: flex;
    justify-content: space-evenly;
    
}
img{
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}
.art1{
    width: 400px;
}


