body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header, footer {
    background: #333;
    color: #4d1197;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#histoire-matcha, #valeurs-matcha {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 900px;
}

h1, h2 {
    color: #333;
}

