body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#histoire-matcha, #valeurs-matcha, #nos-services, #notre-engagement, #pourquoi-matcha, #a-propos-matcha {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 900px;
}

h1, h2 {
    color: #333;
}






a {
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none;
    color: green;
  }
  
  
  header {
    background-color: blanchedalmond; /* Ajoutez cette ligne pour définir la couleur de fond de l'en-tête */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  footer{
    background-color: blanchedalmond;
    text-align: center;
  }
  .logo{
    height: 2%;
    width: 2%;
    border-radius: 50px;
  }
  
  .princip{
    height: 80%;
    width:60% ;
    border-radius: 90px;
  }
  
  .spacing {
    letter-spacing: 3px;
  }
  
  .sidebar {
    height: 100%;
    width: 190px; /* Largeur de la sidebar */
    position: fixed; /* Position fixée */
    top: 0; /* Aligné en haut */
    left: 0; /* Aligné à gauche */
    background-color: blanchedalmond; /* Couleur de fond */
    display: flex; /* Utiliser la flexbox */
    flex-direction: column; /* Afficher les éléments en colonne */
    justify-content: flex-start; /* Aligner les éléments en haut */
    padding-top: 70px; /* Espace en haut */
  }
  
  
  .sidebar a {
    padding: 40px; /* Espace entre les liens */
    text-align: left; /* Aligner le texte à gauche */
    text-decoration: none; /* Pas de soulignement sur les liens */
    transform: rotate(-90deg); /* Incliner le texte de -30 degrés */
  }
  
  .sidebar a:hover {
      
    color: yellow; /* Changer la couleur du texte au survol */
  }
  
  
  #conditions{
    font-family: 'Courier New', Courier, monospace;
    color: yellowgreen;}
  
  
  #slogan {
      font-family: "Arial", sans-serif; /* Changer la police du slogan */
  }
  
  
  .local {
      text-align: right;
      list-style: none;
      margin-top: -90px;
      color: black;
  }
  
  .Accueil2 {
    text-align: center; /* Centrer le texte à gauche */
    list-style: none; /* Supprimer les styles de listes par défaut */
    margin-left: -70%; /* Décaler légèrement la liste vers la gauche */
    color: #000;
     }

  .vertmat {
      color: green;
  
      top: 0;
  }
  

  footer {
    height: auto; /* Ajuste la hauteur automatiquement en fonction du contenu */
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}